.btn {
  border-radius: var(--border-radius-button);
  padding: 8px 16px;
  background: var(--color-body-background);

  font-family: var(--family-body);
  font-weight: var(--font-medium);
  font-size: var(--fz-default);
  line-height: var(--lh-default);
  letter-spacing: var(--ls-default);
  text-align: center;
  color: var(--color-default);
  cursor: pointer;
  border: var(--border);
  transition:
    background var(--transition-default),
    color var(--transition-default);
}

.secondary {
  background: var(--color-green);
  color: var(--color-white);
  border-color: transparent;
}

.btn:active {
  transform: scale(0.98);
  transition:
    background var(--transition-default),
    transform var(--transition-default),
    color var(--transition-default);
  background: var(--color-subgreen);
  color: var(--color-white);
}

.btn svg {
  stroke: currentColor;
  fill: none;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--color-subgreen);
    color: var(--color-white);
  }
}
