.psychologistsTitleWrapper {
  margin-bottom: 32px;
}
.psychologistsTitle {
  font-size: var(--fz-title);
  line-height: var(--lh-title);
  letter-spacing: var(--ls-title);
  margin-bottom: 8px;
}
.psychologistsSubtitle {
  font-size: var(--fz-input);
  line-height: var(--lh-link);
  color: var(--color-descr);
}
